@model IEnumerable<Tourism.Models.HotelCheck>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Star)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HotelId"><i class="fa fa-pencil-square-o" style="font-size:22px;"></i></a> |
                <a asp-action="Details" asp-route-id="@item.HotelId"><i class="fa fa-info-circle" style="font-size:22px;"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.HotelId"><i class="fa fa-trash" style="font-size:22px; color:red;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
